<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--mybatis的主配置文件，主要定义了数据库的配置信息，sql映射文件的位置-->

<!--根标签-->
<configuration>

    <!--settings是控制mybatis全局行为-->
    <settings>
        <!--设置mybatis输出日志-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!--环境配置 数据库的连接信息-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/ssm?serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="972597"/>
            </dataSource>
        </environment>
    </environments>
    <!--sql mapper（sql映射文件的位置)-->
    <mappers>
        <mapper resource="com/HL/dao/StudentDao.xml"/>
    </mappers>


</configuration>